<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>头条</string>
	<string>娱乐</string>
	<string>热点</string>
	<string>体育我的新天地</string>
	<string>本地</string>
	<string>网易号</string>
	<string>财经</string>
	<string>科技</string>
	<string>汽车</string>
	<string>时尚</string>
	<string>图片</string>
	<string>跟帖</string>
	<string>房产</string>
	<string>直播</string>
</array>
</plist>
